body{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    
}
.header{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    background-color: #5bc2416c;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h1{
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    padding: 10px 5px;
    padding-left: 30px;
    
}
.menu .btn{
    background-color:  #5bc241;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
}
.menu a:hover{
    background-color: #5bc241;
    color: white;
    padding: 5px;
    border-radius: 20px;
}
.atendimento{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    gap: 30px;
    background-color: #5bc241b2;
}
.atendimento img{
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.411);
}
.atendimento .titulo{
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.404);
    background-color: white;
    border-radius: 20px;
    
}
.atendimento p{
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.363);
    padding: 20px;
    background-color: white;
    border-radius: 20px;  
}
.atendimento .btn-ajuda{
    text-align: center;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 20px;  

}
.rodape{
    background-color: #5bc241a9;
    height: 110px;
}
.rodape .informacao{
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
}
.ajuda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ajuda li{
    padding: 0 20px;
}
.ajuda a:hover{
    color: black;
    background-color: #5bc241;
    padding: 5px;
    border-radius: 20px;
}